@import '../../../theme/styleduide';

.page {
    background: $background;
    padding: 0 86px;
    height: calc(100vh - #{$topBar});
    display: flex;
}

@media (min-width: 1300px) {
    .page {
        padding: 0;
        width: 1268px;
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .page {
        padding: 0 24px;
    }
}
