@import '../../../theme/styleduide';

.container {
    display: flex;
    justify-content: space-between;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    width: 317px;
}

.dropdownSection {
    display: flex;
    justify-content: space-between;
}

.yieldSection {
    display: flex;
    justify-content: space-between;
}

.divider {
    border-bottom: 1px solid $darkGrey;
    width: 100%;
    margin: 24px 0 12px;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: $paddingS;
}

.priceValue {
    font-weight: $bold;
    color: $white;
}

.changeValue {
    display: flex;
    align-items: center;

    .percentChange {
        opacity: 0.5;
    }
}
