@import '../../../theme/styleduide';

.container {
    display: flex;
    flex-direction: column;
    width: $lendingChartWidth;
    margin-top: 53px;
}

@media (max-width: 1300px) {
    .container {
        width: 620px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 520px;
    }
}
