@import '../../../theme/styleduide';
$tablePadding: 16px;

@mixin row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    width: 370px;
    overflow-y: scroll;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
        display: none;
    }

    > div:first-child {
        margin-bottom: 36px;
    }

    button {
        margin-top: 85px;
    }
}

.table {
    display: flex;
    flex-direction: column;
    border: 1px solid $darkGray;
    color: $lightGrey;
    padding: $tablePadding 0 0;
    margin-top: 24px;

    .inputsWithBorder,
    .collateralRow {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $darkGray;
        padding: 0 0 0 $tablePadding;

        &.collateralRow {
            border: 0;
        }

        .divider {
            border: 1px solid $darkGray;
            height: 100%;
            border-right-width: 0;
        }
    }

    .bottomRow {
        @include row;

        padding: $tablePadding;
    }
}

.tableTitle {
    @include row;

    font-weight: $bold;
    padding: 0 $tablePadding $tablePadding;
    border-bottom: 1px solid $darkGray;

    .tableTitleComment {
        font-weight: $normalWeight;
    }
}

.USDValue {
    font-weight: $bold;
    font-size: $subtitleSize;
}

.feeAndReturnsRow {
    @include row;

    justify-content: flex-start;
    margin-top: 24px;

    > span:last-of-type {
        margin-left: 44px;
    }
}

.collateralCoverage {
    margin: 24px 0 0;
}
