@import '../../../theme/styleduide';
$tablePadding: 16px;

@mixin row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    width: 370px;

    > div:first-child {
        margin-bottom: 36px;
    }

    button {
        margin-top: 85px;
    }
}

.table {
    display: flex;
    flex-direction: column;
    border: 1px solid $darkGray;
    color: $lightGrey;
    padding: $tablePadding 0;
    margin-top: 24px;

    .inputsWithBorder {
        display: flex;
        align-items: center;
        border: 1px solid $darkGray;
        border-left-width: 0;
        border-right-width: 0;
        padding: 0 0 0 $tablePadding;

        .divider {
            border: 1px solid $darkGray;
            height: 100%;
            border-right-width: 0;
        }
    }

    .loanTermsRow {
        @include row;

        padding: $tablePadding $tablePadding 0;
    }
}

.tableTitle {
    font-weight: $bold;
    padding: 0 $tablePadding $tablePadding;
    border-bottom: 1px solid $darkGray;
}

.subtitle {
    @include row;

    padding: $tablePadding $tablePadding 0;
}

.USDValue {
    font-weight: $bold;
    font-size: $subtitleSize;
}

.feeAndReturnsRow {
    @include row;

    justify-content: flex-start;
    margin-top: 24px;

    > span:last-of-type {
        margin-left: 44px;
    }
}
