@import '../../theme/styleduide';

.container {
    display: flex;
    padding-top: 34px;
    flex: 0 0 100%;
    justify-content: space-between;
}

.chartAndInfo {
    display: flex;
    flex-direction: column;
}
