# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.next

# testing
/coverage

# production
**/build

# storybook files
/storybook-static

# vs code
.vscode/tasks.json

# misc
.DS_Store
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
certs/cert.pem
certs/server.cert
certs/server.key

# Cypress
cypress/integration/1-getting-started/
cypress/integration/2-advanced-examples/
cypress/**/*.mp4
cypress/**/*.png
cypress.env.json

# Chromatic
build-storybook.log

# Typecheck
tsconfig.tsbuildinfo

# Generated code
/src/generated/
