{
  "TENDERLY_KEY": "TENDERLY_KEY",
  // if defined, the test framework will use an existing fork
  "TENDERLY_FORK_ID": "forkid"
  // persist the fork after a run. False by default
  "TENDERLY_PERSIST_FORK_AFTER_RUN": true
}
