@import '../../../theme/styleduide';

.wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $lightGrey;
    line-height: 1.2;

    & .light {
        color: $lightSilver;
    }
}

.field {
    font-size: $captionSize;

    &.large {
        font-size: $bodySize;
    }

    &.bold {
        color: $lightSilver;
    }
}

.value {
    font-size: $tabSize;

    &.large {
        font-size: $subtitleSize;
        font-weight: $bold;
    }

    &.bold {
        font-size: $titleSize;
        color: $white;
    }
}

.icon {
    position: relative;
    bottom: 2px;
    margin-left: $paddingXS;
    height: 24px;
    width: 24px;
}
