@import '../../../theme/styleduide';

.wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $lightGrey;
    line-height: 1.2;

    & .light {
        color: $lightSilver;
    }
}

.field {
    font-size: $captionSize;
    margin-bottom: $paddingXXXS;

    &.large {
        font-size: $bodySize;
    }

    &.bold {
        color: $lightSilver;
    }
}

.value {
    display: flex;
    align-items: center;
    font-size: $tabSize;

    &.large {
        font-size: $subtitleSize;
        font-weight: $bold;
    }

    &.bold {
        font-size: $titleSize;
        color: $white;
    }

    &.accent-green {
        color: $green;
    }

    &.accent-red {
        color: $red;
    }

    &.accent-purple {
        color: $purple;
    }
}

.icon {
    position: relative;
    margin-left: $paddingXS;
    display: flex;
}

.alignRight {
    text-align: right;
}
