.rate-list{
  text-align: center;
}

.rate-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search {
  margin-bottom: 10px;
}

.head {
  color: #2a5c7b;
  font-size: 14px;
  padding: 4px 0;
}

.token,
.lend,
.borrow{
  padding: 4px 0;
}
