@import '../../../theme/styleduide';

.tabs {
    display: flex;
    align-items: center;
    color: $lightGrey;
    font-size: $tabSize;
    line-height: 11px;
    font-weight: $bold;
}

.bottomBorder {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    background: transparent;
    height: 2px;
}

.tabLabel {
    position: relative;
    padding: 16px 0;
}

.tab {
    box-sizing: border-box;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.1s;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &:hover {
        color: $white;

        & .bottomBorder {
            background: $purple;
        }
    }

    &.selected {
        color: $black;
        background-color: $white;

        &:hover {
            & .bottomBorder {
                background: transparent;
            }
        }
    }
}
