@import '../../../theme/styleduide.scss';

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &.withBackground {
        border-radius: 50%;
        background-color: rgba($middleGrey, 0.2);
    }
}

.iconWithBackground {
    opacity: 0.7;
}
