@import '../../../theme/styleduide';

.textButton {
    display: inline-flex;
    align-items: flex-end;
    color: $white;
    font-size: $subtitleSize;
    line-height: 1.3;
    font-weight: $bold;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: 0.1s;

    &:hover {
        color: $purple;
        & > .icon {
            background-color: $purple;
        }
    }
}

.icon {
    display: flex;
    flex-shrink: 0;
    background-size: cover;
    transform: rotate(180deg);
    position: relative;
    margin-left: $paddingXXS;
    cursor: pointer;
    color: inherit;
    background-color: $white;
    -webkit-mask-image: url('../icons/arrow.svg');
    mask-image: url('../icons/arrow.svg');
    transition: 0.1s;
    width: 24px;
    height: 24px;
}
