@import '../Input/Input.module';
@import '../../../theme/styleduide';

.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdownContainer {
    position: relative;
    display: inline-flex;
    align-items: center;
    border: 1px solid $darkGrey;
    padding: $paddingS $paddingXS $paddingS $paddingSM;
    cursor: pointer;
    width: 135px;

    &.noBorder {
        border: none;
        padding: 0;
    }
}

.label {
    margin: 0 0 $paddingXXS $paddingSM;
    font-size: $bodySize;
    color: $lightSilver;

    &.noBorder {
        margin: 0 0 $paddingXXXS 0;
        padding: 0;
    }
}

.select {
    @include input;

    display: block;
    width: 100%;
    outline: none;
    cursor: pointer;
    padding-right: 28px;
    background-image: url(../icons/chevron.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 2px);
    background-position-y: 2px;
    text-overflow: ellipsis;
    font-weight: $bold;

    // hide arrow
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    //text-overflow: '';

    // for IE
    ::-ms-expand {
        display: none;
    }

    &.withIcon {
        margin-left: $paddingXS;
    }
}

.optionIcon {
    margin-right: $paddingXS;
}
