@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'GT Super Display';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/gt-super-display/GT-Super-Display-Regular.woff2') format('woff2'), url('./assets/fonts/gt-super-display/GT-Super-Display-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'GT Super Display';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/gt-super-display/GT-Super-Display-Regular-Italic.woff2') format('woff2'), url('./assets/fonts/gt-super-display/GT-Super-Display-Regular-Italic.woff') format('woff');
  }
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff') format('woff');
  }

  @font-face {
    font-family: 'Suisse Intl';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff') format('woff');
  }
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-SemiBold-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-SemiBold-WebS.woff') format('woff');
  }

  @font-face {
    font-family: 'Suisse Intl';
    font-style: italic;
    font-weight: 600;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-SemiBoldItalic-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-SemiBoldItalic-WebS.woff') format('woff');
  }
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-Bold-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-Bold-WebS.woff') format('woff');
  }

  @font-face {
    font-family: 'Suisse Intl';
    font-style: italic;
    font-weight: 700;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-BoldItalic-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-BoldItalic-WebS.woff') format('woff');
  }

  p {
    @apply text-gray-300
  }
  h1 {
    @apply text-5xl;
    @apply leading-10;
    @apply text-gray-800;
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-l from-primary-500 to-primary-600;
  }
}
body {
  background-color: #060609;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
