@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  p {
    @apply text-gray-300
  },
  h1 {
    @apply text-5xl;
    @apply leading-10;
    @apply text-gray-800;
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-l from-primary-500 to-primary-600;
  }
}
body {
  background-color: #060609;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
