@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/components";
@import "./assets/css/components.css";

@layer base {
  @font-face {
    font-family: 'GT Super Display';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/gt-super-display/GT-Super-Display-Regular.woff2') format('woff2'), url('./assets/fonts/gt-super-display/GT-Super-Display-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'GT Super Display';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/gt-super-display/GT-Super-Display-Regular-Italic.woff2') format('woff2'), url('./assets/fonts/gt-super-display/GT-Super-Display-Regular-Italic.woff') format('woff');
  }
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff') format('woff');
  }

  @font-face {
    font-family: 'Suisse Intl';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff') format('woff');
  }
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-SemiBold-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-SemiBold-WebS.woff') format('woff');
  }

  @font-face {
    font-family: 'Suisse Intl';
    font-style: italic;
    font-weight: 600;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-SemiBoldItalic-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-SemiBoldItalic-WebS.woff') format('woff');
  }
  @font-face {
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-Bold-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-Bold-WebS.woff') format('woff');
  }

  @font-face {
    font-family: 'Suisse Intl';
    font-style: italic;
    font-weight: 700;
    src: url('./assets/fonts/suisse-intl/SuisseIntl-BoldItalic-WebS.woff2') format('woff2'), url('./assets/fonts/suisse-intl/SuisseIntl-BoldItalic-WebS.woff') format('woff');
  }

  body {
    @apply font-secondary;
    background: url(./assets/img/app-bg.jpg);
    background-size: cover;
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-l from-horizonBlue to-starBlue;
  }
}
