body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.mm-container,
.fx-container {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1.4fr 4fr 1.4fr;
  /* background-color: red; */
  /* height: 100%; */
}

.mm-container > div:not(:nth-child(2)) {
  padding: 0.5em;
}

.mm-left {
  border-right: 1px solid #3a80ab;
  /* background-color: orange; */
}

.mm-mid {
  border-right: 1px solid #3a80ab;
  display: flex;
  flex-direction: column;
}

.mm-graph {
  height: 65%;
  /* padding-left: 1em; */
}

.mm-actions {
  display: flex;
  /* flex: 1; */
  /* height: 100%;   */
}

.mm-actions_item {
  border-top: 1px solid #3a80ab;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mm-actions_item--left {
  border-right: 1px solid #3a80ab;
}

.mm-actions_item--right {
  border-left: 1px solid #3a80ab;
}

.orderbook {
  display: grid;
}

.orderbook__title {
  text-transform: uppercase;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.orderbook__heads,
.order_row {
  text-transform: uppercase;
  display: grid;
  /* grid-template-columns: minmax(65px,1fr) minmax(130px,2fr) minmax(65px,1fr); */
  grid-template-columns: repeat(1, 1fr 1fr);
  font-size: 1em;
}

.orderbook__heads {
  margin-bottom: 15px;
}

.order_row {
  font-size: 0.75em;
}

.orderbook__head {
  color: #2a5c7b;
}

.order-type {
  margin-bottom: 30px;
}

.order-type_title {
  color: #3a80ab;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.order-type_title--b {
  color: #3a80ab;
}

.order-type_title--r {
  color: #e46d53;
}

.order_row {
  /* background-color: #3a80ab; */
  /* background-size: 0%; */
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.order_row > div {
  padding-left: 2px;
}
.order_progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #3a80ab;
  width: 10%;
  opacity: 0.15;
}
