name: Deploy on Fleek

on:
  push:
    branches:
    - develop

jobs:
  identify-env:
    name: Identify the environment
    uses: ./.github/workflows/reusable-util-identify-env.yml
    with:
      branch_name: ${{ github.ref }}

  build-and-test-all:
    name: Build and Test
    needs: identify-env
    uses: ./.github/workflows/reusable-build-webapp.yml
    with:
      artifact_name: WebApp
      environment_name: ${{ needs.identify-env.outputs.environment_name }}
    secrets: inherit

  cypress-run:
    name: Cypress Run Tests
    needs: build-and-test-all
    uses: ./.github/workflows/reusable-test-cypress.yml
    with:
      artifact_name: WebApp
    secrets: inherit

  deploy-on-fleek:
    runs-on: ubuntu-latest
    name: Deploy on Fleek
    environment: ${{ needs.identify-env.outputs.environment_name }}
    env:
      FLEEK_TOKEN: ${{ secrets.FLEEK_TOKEN }}
      FLEEK_PROJECT_ID: ${{ secrets.FLEEK_PROJECT_ID }}
    needs: [identify-env, build-and-test-all]
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Retrieve artifact
      uses: actions/download-artifact@v4
      with:
        name: WebApp
        path: .deploy/${{ vars.FLEEK_ENV }}/build

    - name: Install Fleek CLI
      run: npm i -g @fleek-platform/cli

    - name: Deploy Site
      run: fleek sites deploy --config .deploy/${{ vars.FLEEK_ENV }}/fleek.config.json
