name: Build Web App and Storybook

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  identify-env:
    name: Identify the environment
    uses: ./.github/workflows/identify-env.yml
    with:
      branch_name: ${{ github.ref }}

  build-and-test-all:
    name: Build and Test
    needs: identify-env
    uses: ./.github/workflows/build.yml
    with:
      artifact_name: WebApp
      environment_name: ${{ needs.identify-env.outputs.environment_name }}
    secrets: inherit

  cypress-run:
    name: Cypress Run Tests
    needs: build-and-test-all
    uses: ./.github/workflows/cypress-test.yml
    with:
      artifact_name: WebApp
    secrets: inherit

  publish:
    runs-on: ubuntu-latest
    name: Publish to Cloudflare Pages
    environment: ${{ needs.identify-env.outputs.environment_name }}
    permissions:
      contents: read
      deployments: write
    needs: [identify-env, build-and-test-all]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Retrieve artifact
        uses: actions/download-artifact@v3
        with:
          name: WebApp
          path: .deploy/build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: secured-finance-app
          directory: .deploy/build