name: Deploy on Fleek

on:
  push:
    branches:
      - develop

jobs:
  identify-env:
    name: Identify the environment
    uses: ./.github/workflows/identify-env.yml
    with:
      branch_name: ${{ github.ref }}

  build-and-test-all:
    name: Build and Test
    needs: identify-env
    uses: ./.github/workflows/build.yml
    with:
      artifact_name: WebApp
      environment_name: ${{ needs.identify-env.outputs.environment_name }}
    secrets: inherit

  cypress-run:
    name: Cypress Run Tests
    needs: build-and-test-all
    uses: ./.github/workflows/cypress-test.yml
    with:
      artifact_name: WebApp
    secrets: inherit

  pin-on-filebase:
    runs-on: ubuntu-latest
    name: Pin to IPFS via Filebase
    environment: ${{ needs.identify-env.outputs.environment_name }}
    needs: [identify-env, build-and-test-all]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Retrieve artifact
        uses: actions/download-artifact@v4
        with:
          name: WebApp
          path: ./build

      - name: Set deployment timestamp
        id: timestamp
        run: echo "time=$(date -u +%Y-%m-%dT%H-%M-%SZ)" >> $GITHUB_OUTPUT

      - name: Pin to Filebase
        id: ipfs-pin
        uses: aquiladev/ipfs-action@master
        with:
          path: ./build
          service: filebase
          pinName: 'build'
          # pinName: '${{ vars.FILEBASE_ENV }}-deployment-${{ steps.timestamp.outputs.time }}'
          filebaseBucket: ${{ vars.FILEBASE_BUCKET }}
          filebaseKey: ${{ secrets.FILEBASE_KEY }}
          filebaseSecret: ${{ secrets.FILEBASE_SECRET }}

      # - name: Update Filebase Name (IPNS)
      #   env:
      #     FILEBASE_KEY: ${{ secrets.FILEBASE_KEY }}
      #     FILEBASE_SECRET: ${{ secrets.FILEBASE_SECRET }}
      #     FILEBASE_IPNS_LABEL: ${{ secrets.FILEBASE_IPNS_LABEL }}
      #     IPFS_HASH: ${{ steps.ipfs-pin.outputs.hash }}
      #   run: |
      #     # Create base64 bearer token
      #     TOKEN=$(printf '%s:%s' "$FILEBASE_KEY" "$FILEBASE_SECRET" | base64 -w 0)
      #     curl -X PUT \
      #       "https://api.filebase.io/v1/names/${FILEBASE_IPNS_LABEL}" \
      #       -H "Authorization: Bearer ${TOKEN}" \
      #       -H "Content-Type: application/json" \
      #       -d '{"cid":"'"${IPFS_HASH}"'"}' \
      #       --fail-with-body
