name: Deploy Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        default: 'uat'
        type: choice
        options:
          - 'uat'
          - 'staging'
          - 'ci-build'
          - 'development'
          - 'production' #We should probably create a new workflow for this one
      ref:
        description: 'Branch, tag or commit to deploy'
        required: true
        default: 'develop'

jobs:
  print-env:
    runs-on: ubuntu-latest
    name: Print Environment
    steps:
      - name: Print Environment
        run: echo "Deploying ${{ github.event.inputs.ref }} on ${{ github.event.inputs.environment }} Environment"

  build-and-test-all:
    name: Build and Test
    uses: ./.github/workflows/build.yml
    needs: print-env
    with:
      artifact_name: WebApp
      environment_name: ${{ github.event.inputs.environment }}
      ref: ${{ github.event.inputs.ref }}
    secrets: inherit

  # cypress-run:
  #   name: Cypress Run Tests
  #   needs: build-and-test-all
  #   uses: ./.github/workflows/cypress-test.yml
  #   with:
  #     artifact_name: WebApp
  #   secrets: inherit

  deploy-on-fleek:
    runs-on: ubuntu-latest
    name: Deploy on Fleek
    if: false
    environment: ${{ github.event.inputs.environment }}
    env:
      FLEEK_TOKEN: ${{ secrets.FLEEK_TOKEN }}
      FLEEK_PROJECT_ID: ${{ secrets.FLEEK_PROJECT_ID }}
    needs: [build-and-test-all]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Retrieve artifact
        uses: actions/download-artifact@v4
        with:
          name: WebApp
          path: .deploy/${{ vars.FLEEK_ENV }}/build

      - name: Install Fleek CLI
        run: npm i -g @fleek-platform/cli

      - name: Deploy Site
        run: fleek sites deploy --config .deploy/${{ vars.FLEEK_ENV }}/fleek.config.json

  pin-on-filebase:
    runs-on: ubuntu-latest
    name: Pin to IPFS via Filebase
    if: github.event.inputs.environment != 'ci-build'
    environment: ${{ github.event.inputs.environment }}
    needs: [build-and-test-all]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Retrieve artifact
        uses: actions/download-artifact@v4
        with:
          name: WebApp
          path: ./build

      - name: Set deployment timestamp
        id: timestamp
        run: echo "time=$(date -u +%Y-%m-%dT%H-%M-%SZ)" >> $GITHUB_OUTPUT

      - name: Pin to Filebase
        id: ipfs-pin
        uses: aquiladev/ipfs-action@master
        with:
          path: ./build
          service: filebase
          pinName: '${{ vars.FLEEK_ENV }}-deployment-${{ steps.timestamp.outputs.time }}'
          filebaseBucket: ${{ secrets.FILEBASE_BUCKET }}
          filebaseKey: ${{ secrets.FILEBASE_KEY }}
          filebaseSecret: ${{ secrets.FILEBASE_SECRET }}

      - name: Update Filebase Name (IPNS)
        env:
          FILEBASE_KEY: ${{ secrets.FILEBASE_KEY }}
          FILEBASE_SECRET: ${{ secrets.FILEBASE_SECRET }}
          IPNS_KEY: ${{ secrets.IPNS_KEY }}
          IPFS_HASH: ${{ steps.ipfs-pin.outputs.hash }}
        run: |
          curl -X POST "https://api.filebase.io/v1/names/$FILEBASE_NAME_ID" \
            -u "$FILEBASE_KEY:$FILEBASE_SECRET" \
            -H "Content-Type: application/json" \
            -d "{\"cid\": \"$IPFS_HASH\"}"