@import '../../../theme/styleduide';

.container {
    position: relative;
}

.chartView {
    margin-top: $paddingS;
}

.title {
    color: $lightSilver;
    font-size: $tabSize;
}

.legendMarker {
    width: 20px;
    height: 20px;
}

.legend {
    position: absolute;
    right: 24px;
    display: inline-block;
    bottom: 40px;
    color: $lightGrey;
    font-size: $captionSize;

    > ul {
        display: flex;
        list-style-type: none;

        :not(:first-child) {
            margin-left: $paddingSM;
        }

        > li {
            display: flex;

            > span {
                display: inline-flex;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                align-self: center;
                margin-right: $paddingXS;
            }
        }
    }
}

@media (max-width: 1024px) {
    .container {
        width: 520px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 600px;
    }
}
